/* CSS Resets */
h1, h2, h3, h4, p, nav ul {
    padding: 0;
    margin: 0;
}
nav ul {
    list-style-type: none;
}
img { max-width: 100%; display: block; }
* { box-sizing: border-box;}

/* end Resets */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: 	rgb(1,48,63);
}
nav {
    border-top: 2px solid #333;
}
nav ul li a {
    text-decoration: none;
    display: block;
    color:rgb(2,87,122);
    font-weight: bold;
    border-bottom: 2px solid #333;
    text-align: center;
    padding: 10px;

}

header, footer {
    background-color: rgb(2,169,247);
}

header, section, footer {
    padding: 20px;
}

section:nth-child(even){
    background-color: #89d6fb;
}

section:nth-child(odd){
    background-color: #d4f0fc;
}

.container {
    max-width: 1000px;
}

h1, h2 {
    margin-bottom: .5em;
}

p {
    line-height: 2em;
    margin-bottom: 1em;
}

ol li {
    margin-bottom: 1em;
}

/* ul ul li {
    line-height: 2;
} */
li {
    line-height: 2;
} 

img {
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    nav ul { display: flex; }
    nav ul li { flex: 1; }
}

@media only screen and (min-width: 1000px) {
    .container{ margin: auto; }
    nav ul {
        max-width: 1000px;
        margin: auto;
    }
    .content { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}