h1{
    font-family: 'Shrikhand', cursive;
    font-size: 108px;
    line-height: 120px;
    display: inline-block;
    vertical-align: middle;
}

#title{
    padding: 5% 5%;
    background-color: aquamarine;
    width: 480px;
    height: 630px;
}
#myData{
    padding: 5% 5%;
    background-color: lightcoral;
    position: absolute;
    left: 50%;
    top: 0;
    width: 480px;
    height: 630px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 600px;
}