h1{
    font-family: 'Shrikhand', cursive;
    font-size: 108px;
    line-height: 120px;
    display: inline-block;
    vertical-align: middle;
}

#title{
    padding: 5% 5%;
    background-color: aquamarine;
    width: 480px;
    height: 630px;
}
#myData{
    padding: 5% 5%;
    background-color: lightcoral;
    position: absolute;
    left: 50%;
    top: 0;
    width: 480px;
    height: 630px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 600px;
}

ul{
    list-style: none;
}

li {
    display:block;
}

p {
    font-family: 'Nova Round', cursive;
}

button {
    width: 200px;
    padding: 22px;
    margin: 3px 0;
    border: none;
    outline: 0;
    background-color: transparent;
    color:rgb(200, 4, 4);
    font-family: 'Nova Round', cursive;
    font-size: 1.3em;
    rotate: -30deg;
}