h1{
    font-family: 'Shrikhand', cursive;
    font-size: 108px;
    line-height: 120px;
    display: inline-block;
    vertical-align: middle;
}

#title{
    padding: 5% 5%;
    width: 480px;
    height: 630px;
}

#myData{
    padding: 5% 5%;
    position: absolute;
    left: 50%;
    top: 0;
    width: 480px;
    height: 630px;
}

#result{
    padding: 5% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 35%;
    top: 30%;
    height: 20%;
    width: 26%;
    background-color: bisque;
    border-radius: 40%;
}

#result > p{
    /* position: absolute;
    left: 0%;
    top: 0%; */
    /* height: 90%;
    width: 90%; */
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5;
    border-radius: 15%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 600px;
}

ul{
    list-style: none;
    column-count: 2;
}

li {
    display:block;
}

li:nth-child(1) > .fa-shoe-prints{
    color: #FF79F2;
}

li:nth-child(2) > .fa-shoe-prints{
    color: #FA5E46;
}

li:nth-child(3) > .fa-shoe-prints{
    color: #0BBD52;
}

li:nth-child(4) > .fa-shoe-prints{
    color: #3D4EE7;
}

li:nth-child(5) > .fa-shoe-prints{
    color: #FF9900;
}

li:nth-child(6) > .fa-shoe-prints{
    color: #FFF26A;
}

li:nth-child(7) > .fa-shoe-prints{
    color: #767ED4;
}

li:nth-child(8) > .fa-shoe-prints{
    color: #FF79F2;
}

p {
    font-family: 'Nova Round', cursive;
}

button {
    width: 200px;
    padding: 22px;
    margin: 3px 0;
    border: none;
    outline: 0;
    background-color: transparent;
    color:rgb(200, 4, 4);
    font-family: 'Nova Round', cursive;
    font-size: 1.3em;
    rotate: -30deg;
}