* {
    box-sizing: border-box;
}

/* FIXED WRAPPER */
.wrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    background: none;
}
   
/* MOVING WRAPPER */
.move { 
    display: flex; 
}
  
/* LONG HORIZONTAL TEXT ROW */
.text {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
    overflow: hidden;
}

/* TEXT ANIMATION - RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes newsText {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-400%, 0, 0); }
  }
  .move { animation: newsText linear 20s infinite; }
  .move:hover { animation-play-state: paused; }


body {
    background-color: darkred;
    color: rgb(248, 224, 0);
    transition: all 2s;
}

body.switch {
    background-color: lightgoldenrodyellow;
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 0 auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 2em auto;
}

#banner {
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-color:#333;
    color: rgb(235, 235, 235);
    overflow: hidden;
    display: grid;
	place-items: center;
}

#banner.switch {
    background-color:rgb(235, 235, 235);;
    color: #333;
    transition: all 2s;
}

/*Sun Banner*/
 /* .sunny {
    background: lightblue;
    width: 1100px;
    height: 250px;
    overflow: hidden;
  }
  
  .container,
  .sky,
  .sun,
  .light {
    position: absolute;
  }
  
  .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: 0px;
  }
  
  .sky {
    opacity: .8;
    width: 1100px;
    height: 40%;
    top: 10%;
    left: 0;
    background: green;
    z-index: 3;
  }
  
  .sun {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 40%;
    z-index: 2;
    background: linear-gradient(#ff0, #d00);
    box-shadow: 0 0 40px 6px #f20, 0 0 150px 10px #f33;
    animation: rise 24s ease forwards;
  }
  
  @keyframes rise {
    0% {
      top: 50%;
    }
    100% {
      top: 15%;
    }
  }
  
  .light {
    opacity: .5;
    left: 0%;
    width: 100%;
    height: 100%;
    background: radial-gradient(at 50% 0%, #ff0, transparent);
    z-index: 6;
    animation: over 12s ease forwards;
  }
  
  @keyframes over {
    0% {
      opacity: 0
    }
    ;
    100% {
      opacity: .2
    }
    ;
  } */

.sunny {
    position: relative;
    width: 1100px;
    height: 250px;
    background: url(images/sunBanner.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Rain Banner */
 .rain {
    position: relative;
    width: 1100px;
    height: 250px;
    background-image: linear-gradient(to bottom, #030420, #000000 70%);
    background-size: cover;
    background-position: center;
    animation: color-change 5s linear infinite;
    animation-delay: 1s;
}
/*adding rain img and making opacity 0*/
.rain:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/Rain.png);
    animation: rain 0.4s linear infinite;
    opacity: 0;
}
/* Changing position of rain image using keyframes*/
@keyframes rain {
    0% {
        background-position: 8% 80%;
        opacity: 1;
    }

    100% {
        background-position: 0 0;
        opacity: 1;
    }
}
/* Applying filter at different angle using keyframe*/
@keyframes color-change {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/*Card Flip Section*/
.flip {
    background-color: transparent;
    width: 100%;
    height: 350px;
    perspective: 1000px;
}
  
.inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip:hover .inner {
    transform: rotateY(180deg);
}
  
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-front {
    background-color: #bbb;
    color: black;
}

.card-back {
    background-color: goldenrod;
    color: darkred;
    transform: rotateY(180deg);
}

#busP {
    background: url(images/mBus_Stop_P.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#busR {
    background: url(images/mBus_Stop_R.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#busD {
    background: url(images/mBus_Stop_D.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#busC {
    background: url(images/mBus_Stop_C.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Card Flip Switch Section*/
section.switch .card-front {
    background-color: #bbb;
    color: black;
}

section.switch .card-back {
    background-color: #75FAAA;
    color: darkblue;
    transform: rotateY(180deg);
}

section.switch #busP {
    background: url(images/mBike.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section.switch #busR {
    background: url(images/mBike-3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section.switch #busD {
    background: url(images/mBike-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section.switch #busC {
    background: url(images/mBike-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 1em;
}

main section {
    width: 25%;
    border: 1px rgb(0, 0, 0) dashed;
    margin: 0 1em;
    padding: 1em;
}

/* main section.switch {
    width: 25%;
    border: 1px rgb(0, 0, 0) dashed;
    margin: 0 1em;
    padding: 1em;
} */

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: .9em;
    display: inline-block;
    padding: .5em;
    color: black;
}

section a:hover {
    background-color: white;
    color: #333;
}

section.switch a {
    color: #333;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}

section > h3{
    text-align: center;
    padding: 5% 0;
    border-top: 5px solid orange;
    border-bottom: 5px solid orange;
}

section.switch > h3{
    text-align: center;
    padding: 5% 0;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
}

button {
    position: absolute;
    top: 44vh;
    right: 67vh;
    width: 16vw;
    padding: 5px;
    background-color: orange;
    color: #333;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

button:hover {
    background: rgb(255,64,0);
    background: linear-gradient(180deg, rgba(255,64,0,1) 0%, rgba(252,176,69,1) 65%, rgba(247,211,159,1) 100%);
    cursor: pointer;
}

button.switch {
    background: rgb(154, 255, 194);
}

button.switch:hover {
    background: linear-gradient(180deg, rgba(77,199,200,1) 0%, rgba(170,255,241,1) 22%, rgba(170,255,200,1) 37%, rgba(152,250,112,1) 63%, rgba(235,255,177,1) 100%);
    color: rgb(0, 0, 0)
}