* {
    margin: 0;
        padding: 0;
        border: 0;
        outline: 0;

}

h1{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    background-color: rgba(0, 0, 0, 0.3);
}

.img1{
    background-image: url("images/jiji_camp.jpg");
    color: #fff;
}

.img2{
    background-image: url("images/park.jpg");
    color: #fff;
}

.img3{
    background-image: url("images/luna_park.jpg");
    color: #fff;
}

.tap-target {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 20em;
    height: 26em;
    padding: 1em;
    margin: 1rem auto;
    box-sizing: border-box;
  
    border-radius: 2%;
  
    font-size: 1.125em;
    text-align: center;
    background-size: cover;
    background-color: #29e;
  
    cursor: pointer;
    touch-action: none;
    user-select: none;
  
    transition: all 0.3s;
  }
  
  .tap-target.switch-bg {
    filter: grayscale(100%);
    background-color: #f40;
  }
  
  .tap-target.large {
    transform: scale(1.25);
  }
  
  .rotate {
    transform: rotate(180deg);
  }

  canvas{
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
  }

  #granim-canvas {
    width: 100%;
    height: 100vh;
}

footer{
    display: flex;
    gap: 3rem;
    position: absolute;
    bottom: 5%;
    left: 20px;
}

footer p{
    color: white;
}

footer p a{
    text-decoration: none;
    color: beige;
}