* {
    box-sizing:border-box;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

h1{
    text-align: center;
}

/* flexbox container */
.flexbox {
    display:flex;
    flex-wrap:wrap;
}

/* columns (mobile) */
.flexbox > * {
    width:100%;
    padding:1rem;
}

/* background colors */
.flexbox > .header {background:#f5d55f}
.flexbox > .main-content {background:#fff}
.flexbox > .left-sidebar {background:#c5ed77}
.flexbox > .right-sidebar {background:#f97171}
.flexbox > .footer {background:#72c2f1}

.header , .footer {
    height: 15vh;
}

#left-dropzone, #right-dropzone {
    height: 60vh;
}

#left-dropzone, #right-dropzone > h2 {
    text-align: center;
    text-decoration: underline;
}

.dropzone {
    border: dashed 4px black;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
}
  
.drop-active {
    border-color: #aaa;
}
  
.drop-target {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #000;
    border-style: solid;
}

#yes-drop {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    height: 40vh;
    background-color: lightgrey;
    color: black;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
}

#yes-drop.can-drop {
    color: #fff;
    background-color: #000;
}
#concept{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.5;
}

#info{
   text-align: right;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content {
    text-align: center;

}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

/* Design For Tablet */
@media (min-width:768px) {
    .flexbox > .left-sidebar,
    .flexbox > .right-sidebar {
        width:50%;
    }
}

/* Design For Desktop*/
@media (min-width:1024px) {
    .flexbox > .header {
        order:-2; /* header first */
    }
    .flexbox > .left-sidebar {
        /* left sidebar second (first in second row) */
        order:-1; 
    }
    .flexbox > .main-content {
        width:33.33%;
    }
    .flexbox > .left-sidebar,
    .flexbox > .right-sidebar {
        width:33.33%;
    }
}
