#left{
    background-image: url("images/seal.jpg");
    background-color: sandybrown;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 750px;
    position: absolute;
    top:0;
}

#top{
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 3%;
    color: white;
    height: 35%;
}

#right{
    background-color: beige;
    width: 50%;
    height: 630px;
    padding: 5%;
    position: absolute;
    top:0;
    left: 40%;
}

h1{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
}

p{
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    line-height: 2;
    text-indent: 8%;
    max-width: 600px;
}

#brief{
    display: block;
    margin: 0 auto;
    border-width: 0;
}

#brief::-webkit-scrollbar{
    display: none;
  }

#click{
    font-size: 11px;
}

#title{
    font-size: 2rem;
}

.some-page-wrapper {
    margin: 15px;
  }
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 1%;
}
  
.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.summary{
    max-width: 1200px;
    text-indent: 0;
}
  