* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: black; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: antiquewhite;
}

.section0, .section1, .section2, .section3 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section0{
    background-color: green;
    background-image: url("images/Luna.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    top: -15%;
    left: 2%;
    position: absolute;
    font-size: 15vw;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5);
}

.text-m {
    top: 60%;
    left: 7%;
    position: absolute;
    font-size: 7vw;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5);
}

.text-s {
    bottom: 3%;
    left: 20%;
    position: absolute;
    font-size: 4vw;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5);
}

#myVideo {
    /* position: fixed; */
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

#quote h2 {
    position: absolute;
    width: 100%;
    padding: 1em;
    font-size: 3em;
    font-family: 'Permanent Marker', cursive;
    transition: all 2.5s;
}

#line1 {
    bottom: 5%;
    left: 0;
    text-align: left;
}

#line2 {
    top: 5%;
    left: 0%;
    text-align: right;
}

#line3 {
    bottom: 25%;
    left: 0;
    text-align: center;
}

/* #line4 {
    bottom: 30%;
    left: 30%;
}

#line5 {
    bottom: 40%;
    left: 40%;
} */

.fa-expand {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: orange;
}

.fa-expand:hover {
    cursor: pointer;
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}

#overlay {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    background-color: lightpink;
    transition: 1s ease;
}

.fa-paw {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 75px;
    color: hotpink;
}